<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editPostModalLabel">{{ _('Edit post') }}</h4>
      </div>
      <div class="modal-body">
        {% include 'flash.html' %}
        <form class="form-horizontal" action="" method="post" name="edit-post">
   
          <div class="form-group">
                <div class="controls">
                    <textarea class="form-control" id="post-body"></textarea>
                </div>
            </div>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
        <button type="button" class="btn btn-primary" id="save-post-edit">{{ _('Save') }}</button>
      </div>
    </div>
  </div>
</div>